# Ingore everthing
*

# Ignore everything except the following
!/assets
!/assets/**/*
!/deployment-provisioning
!/deployment-provisioning/**/*
!/wp-content
!/wp-content/**/*
!.gcloudignore
!.gitignore
!app.yaml
!cron.yaml
!gae-app.php
!Makefile
!php.ini
!README.md
